@font-face{
  font-family:'foncy';
  src: url('fonts/foncy.ttf'); 
}

html, body {
	background-color:white;
	color:black;
	margin:0;
	padding:0;
	height:100%; 
	width:100%;
}

#nav_wrapper {
	background-color:#ed462f;
	position:fixed;
	width:100%;
	height:50px;
	z-index:12;
}

#logo {
	height:50px;
	width:auto;
}

#apply {
	cursor:pointer;
	position:absolute;
	color:#ffffff;
	display:inline-block;
	font-family:foncy;
	font-size:24px;
	text-align:center;
	z-index:14;
	left:50%;
	height:38px;
	width:150px;
	top:5px;
	margin-left:-100px;
	overflow:hidden;
	border-radius:7px;
	line-height:40px;
}

#apply:hover {
	color:#ed462f;
	background-color:#ffffff;
}

#start_over {
	cursor:pointer;
	position:absolute;
	color:#ffffff;
	display:inline-block;
	font-family:foncy;
	font-size:24px;
	text-align:center;
	z-index:14;
	right:5px;
	height:38px;
	width:150px;
	top:5px;
	margin-left:-100px;
	overflow:hidden;
	border-radius:7px;
	line-height:40px;
}

#start_over:hover {
	color:#ed462f;
	background-color:#ffffff;
}

#content_wrapper {
	position:relative;
	top:50px;
	width:100%;
	height:100%;
}

#content_frame {
	height:100%;
	width:100%;
}

#arrow_left_container {
	position:fixed;
	left:0;
	height:100%;
	width:200px;
	z-index:10;
}

#arrow_right_container {
	position:fixed;
	right:0;
	height:100%;
	width:200px;
	z-index:10;
}

#arrow_left {
	position:relative;
	height:200px;
	width:auto;
	left:-100px;
	top:50%;
	margin-top:-100px;
}

#arrow_right {
	position:relative;
	height:200px;
	width:auto;
	left:190px;
	top:50%;
	margin-top:-100px;
}